
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* GROUP EDIT PAGE */
#group-input-icon-edit{
  display: none;
}

#group-icon-edit:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* GROUP PROFILE PAGE */
.group-profile .panel-heading {
  //background: linear-gradient(rgba(255, 255, 255, 0.5)0%, rgba(255, 255, 255, 0.5)50%, rgba(255, 255, 255, 1.0)100%), url(/img/desk-laptop-notebook-pen.jpg) no-repeat top center;
  //background-size: 100%;
  text-align: center;
}
.group-profile .panel-body {
  padding: 0;
}
.group-profile .panel-body .btn-pref button{
  border-radius: 0px;
}
.group-profile .panel-body .well {
  border: none;
  border-radius: 0px;
  background-color: transparent;
}

